arrow==1.4.0
awkward==2.8.12
bleach==6.1.0
cachetools==5.2.0
coffea<2025.11.0
correctionlib==2.8.0
dask==2024.8.0
fsspec==2024.6.1
fsspec_xrootd==0.5.1
hist==2.9.2
matplotlib==3.4.3
more_itertools==10.8.0
mplhep==1.1.2
numpy==1.23.5
pandas==2.3.2
pyarrow==18.1.0
RecursiveNamespace==0.2.2
scipy==1.9.3
torch==2.8.0
tqdm==4.65.0
uproot==5.6.9
vector==1.5.2
